.App {
  text-align: center;
}

/* */
.today {
  /* position: absolute; */
  /* left: 100%; */
  /* top: 0; */
  width: 40px;
  margin: -6px 0 0 5px;
  /* line-height: 26px; */
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: -.9px;
  text-align: center;
}

.sat {
  color: #7166c4;
}

.sun, .holiday {
  color: #f2412c;
}

.calendar_today {
  color: #00bc07;
}

.calendar_select {
  background-color: #3c9cfc;
  color: white;
}

table, th, td {
  border: 1px solid black;  
}

table {
  width: 80%;
  margin: auto;
  height: 400px;
  text-align: center;
}

th {
  width: 12%;
}

table.weekend th {
  width: 10%;
}

td {
  text-align: left;
  vertical-align: top;
}